@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap';

.layout {
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  position: absolute;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: Roboto, system-ui, sans-serif;
  line-height: 1.5em;
}

.content {
  max-width: 800px;
  padding-left: calc(var(--padding) * 2);
  padding-right: calc(var(--padding) * 2);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 400px) {
  blockquote {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
  }
}
