.projectCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: calc(var(--padding) * 2);
}

@media screen and (max-width: 500px) {
  .projectCard {
    flex-direction: column;
  }

  .projectCard > div:first-child {
    align-items: center;
  }

  .projectCard > div:first-child > div:first-child {
    margin-left: 0 !important;
  }
}

.projectCard h2 {
  margin-top: 0;
  margin-bottom: var(--padding);
  cursor: pointer;
}

.projectCard a {
  text-decoration: none;
  font-weight: 500;
}

.projectCard > div:first-child {
  display: flex;
  flex-direction: column;
  row-gap: var(--padding);
  margin-top: calc(var(--padding) * 2);
  margin-bottom: calc(var(--padding) * 2);
  min-width: 227px;
}

.projectCard > div:first-child > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: calc(var(--padding) * 2);
}

.projectCard > div:first-child > div:first-child {
  margin-left: calc(18px + var(--padding) * 2);
}

.descriptionCard {
  flex-grow: 1;
  padding: calc(var(--padding) * 2);
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  border-radius: var(--padding);
}

.descriptionCard p {
  margin: 0;
  margin-bottom: var(--padding);
}

.descriptionCard p:nth-child(2) {
  margin: 0;
}

.descriptionUpdated {
  font-size: 0.8em;
  color: var(--grey-400);
}

.githubIcon {
  width: 18px;
  height: 18px;
  background-color: var(--text-primary);
  mask: url(/icons/github.svg) no-repeat center;
  -webkit-mask-image: url(/icons/github.svg);
  -webkit-mask-position: center;
  cursor: pointer;
}

.internetIcon {
  width: 18px;
  height: 18px;
  background-color: var(--text-primary);
  mask: url(/icons/internet.svg) no-repeat center;
  -webkit-mask-image: url(/icons/internet.svg);
  -webkit-mask-position: center;
  cursor: pointer;
}
