.themePicker {
  width: 20px;
  height: 20px;
  background-color: var(--text-nav);
  mask: var(--theme-icon) no-repeat center;
  -webkit-mask-image: var(--theme-icon);
  -webkit-mask-position: center;
  cursor: pointer;
}
