.textPrimary {
  color: var(--text-primary);
}

.textSecondary {
  color: var(--text-secondary);
}

.marginTop {
  margin-top: 1rem;
}

.centered {
  text-align: center;
}

.rssIcon {
  width: 24px;
  height: 24px;
  background-color: var(--text-primary);
  mask: url(/icons/rss.svg) no-repeat center;
  -webkit-mask-image: url(/icons/rss.svg);
  -webkit-mask-position: center;
  cursor: pointer;
}

.spreadHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
