
.title {
    font-size: 24px;
    font-weight: 800;
    color: #DDFEFF;
    background-color: #1B004D;
    margin-bottom: 20px;
    text-decoration: none;
    padding: 8px;
}

.title:hover {
    text-decoration: none;
    color: #DDFEFF;
}
