---
import Card from './Card.astro';
import Date from './Date.astro';

export interface Props {
  url: string;
  title: string;
  date: string;
  description?: string;
}

const { url, title, date, description } = Astro.props;
---

<Card className="flex flex-col [&_span]:text-[.8em] [&_span]:text-textPrimary [&_time]:text-[.9em] [&_time]:text-grey-400">
  <a href={url} class="font-semibold text-xl">{title}</a>
  <Date dateString={date} />
  {description && <span>{description}</span>}
</Card>
