---
export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div class={`border border-solid border-grey-150 rounded p-4 mb-4 ${className || ''}`}>
  <slot />
</div>
