
.blogCard {
    display: flex;
    flex-direction: column;
}

.blogCard a {
    text-decoration: none;
    font-weight: 500;
}

.blogCard span {
    font-size: .8em;
    color: var(--text-primary);
}

.blogCard time {
    font-size: .9em;
    color: var(--grey-400);
}
