
.md-img-medium {
    max-width: 480px !important;
    margin-left: auto;
    margin-right: auto;
    display: block;

    @media screen and (max-width: 960px) {
        max-width: 70% !important;
    }

    @media screen and (max-width: 780px) {
        max-width: 80% !important;
    }

    @media screen and (max-width: 500px) {
        max-width: 100% !important;
    }

}
