
.navBar {
    background-color: var(--bg-nav);
    padding: 12px;
    display: grid;
    grid-template-columns: max-content max-content 1fr min-content;
    column-gap: 1em;
    align-items: center;
}

.title {
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title a {
    font-size: 24px;
    font-weight: 800;
    text-decoration: none;
    color: var(--text-nav) !important;
}

.title a:hover {
    text-decoration: none;
}

.navBarItems {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    align-items: center;
}

.navBarItems a {
    color: var(--text-nav) !important;
    text-decoration: none;
}

.menuIcon {
    width: 24px;
    height: 24px;
    background-color: var(--text-nav);
    mask: url('../public/icons/menu.svg') no-repeat center;
    cursor: pointer;
}

@media screen and (max-width: 709px) {

    .navBar {
        grid-template-columns: min-content auto min-content !important;
        grid-template-rows: auto 0px;
    }

    .navBarExpanded {
        grid-template-rows: auto auto;
    }

    .navBarExpanded .navBarItems {
        display: flex;
        visibility: visible;
    }

    .themePicker {
        grid-column: 3 !important;
    }

    .navBarItems {
        grid-row: 2;
        grid-column: 1 / 4;
        flex-direction: column;
        display: none;
        gap: 8px;
        visibility: hidden;
    }

}

@media screen and (min-width: 710px) {

    .menuIcon {
        display: none;
        position: absolute;
    }

}

.themePicker {
    margin-left: auto;
    grid-column: 4;
}
